 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
     
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-atom-original colored"></i>
      <i class="devicon-linux-plain colored"></i>

    </div>
</div>
