 <div class="user-details">
  <h1> My Expertise </h1>
  <p> 초등학교부터 고등학교까지 필리핀에서 그리고 대학교를 한국에서 지내며 항상 앱 개발, 풀스택 또는 데이터 분석을 하고 싶어하는 개발자 </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
     
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-atom-original colored"></i>
      <i class="devicon-linux-plain colored"></i>

    </div>
</div>
