<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 고유명사 사전 기호화를 이용한 RNN 한영 번역기 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Machine Learning, Python, Pytorch, Data Processing, Flask</p>
    <a class="project-link" href="https://github.com/eoqkrskfk94/RNN_properNoun_Translator">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 휠체어 이용자들을 위한 커뮤니티매핑 지역 정보 제공 서비스 어플리케이션 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Android Studio, Java, Naver API, Google Firebase, Adobe Xd
      산학협력 : KT telecom</p>
    <a class="project-link" href="https://github.com/eoqkrskfk94/WATSProject">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 휠"정만 간단한 인터페이스, 쉬운 사용법, 많지 않은 버튼!"으로 자신관리하는 어플 '내 지갑' </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Android Studio, Kotlin, SQLite, Adobe Xd</p>
    <a class="project-link" href="https://github.com/eoqkrskfk94/MyWallet">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 알고리즘 문제 풀이 </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Baekjoon, Programmers</p>
    <a class="project-link" href="https://github.com/eoqkrskfk94/coding_practice">Check it out</a>
  </div>
</div>

